.env
__pycache__/
poczta.py
easy.py
quickstart.py
etykieta.py
tt
zrobione
watermark.py
Vinted-Etykieta.pdf
Raport.pdf
etykieta2.py
__pycache__/*.*
dist
build
app.py
app.spec

vinted.spec
log/log.txt
etykiety
main.bat
